libft/*
ft_printf/*
fdf/*
GNL/*.*
minitalk/*
*.pdf
.vscode/settings.json
*/a.out
42.code-workspace
.DS_Store
GNL/get_next_line.c
fdf/.vscode/tasks.json
minitalk/client
minitalk/server
push_swap/push_swap_tester

