body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

#menu {
    margin: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#menu input[type="text"] {
    width: 90%;
    margin:10px;
}
#menu button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#menu button:hover {
    background-color: #0056b3;
}
a {
    color: black;
}
#error {
    margin:10px;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load-3 {
    text-align: center;
}
.line {
display: inline-block;
width: 15px;
height: 15px;
border-radius: 15px;
background-color: #4b9cdb;
}
.l-3 {
animation-delay: 1s;
}
.load-3 .line:nth-last-child(1) {
animation: loadingC 1s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
animation: loadingC 1s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
animation: loadingC 1s 0.3s linear infinite;
}
@keyframes loadingC {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

 #countdown {
	 font-family: 'Roboto Condensed', sans-serif;
	 width: 200px;
	 height: 100px;
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 margin-left: -100px;
	 margin-top: -50px;
	 color: white;
	 font-size: 5em;
	 text-align: center;
	 font-weight: bold;
	 font-style: italic;
	 -webkit-opacity: 1.0;
	 -moz-opacity: 1.0;
	 opacity: 1.0;
	 -webkit-transition: opacity 0.4s ease;
	 -moz-transition: opacity 0.4s ease;
	 -ms-transition: opacity 0.4s ease;
	 -o-transition: opacity 0.4s ease;
     transition: all 0.4s ease-out;
	 -webkit-perspective: 1000;
	 -webkit-backface-visibility: hidden;
     -webkit-perspective: 1000px;
	 perspective: 1000px;
	 -webkit-backface-visibility: hidden;
	 backface-visibility: hidden; 
}
 #countdown.puffer {
	 -webkit-opacity: 0;
	 -moz-opacity: 0;
	 opacity: 0;
     -webkit-transform: scale(1.6,1.6);
     -moz-transform: scale(1.6,1.6);
     -ms-transform: scale(1.6,1.6);
     -o-transform: scale(1.6,1.6);
     transform: scale(1.6,1.6);
     -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
     -ms-transition: all 0.4s ease-out;
     -o-transition: all 0.4s ease-out;
     transition: all 0.4s ease-out;
}

/* .pong-game {
    position: relative;
}

.pong-table {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #000;
    border: 2px solid #fff;
}

.left-paddle, .right-paddle, .ball {
    position: absolute;
    background-color: #fff;
}

.left-paddle {
    width: 10px;
    height: 80px;
    left: 10px;
    top: 160px;
}

.right-paddle {
    width: 10px;
    height: 80px;
    right: 10px;
    top: 160px;
}

.ball {
    width: 20px;
    height: 20px;
    left: 290px;
    top: 190px;
    border-radius: 50%;
}
